/* Общие стили */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.app-layout {
	padding: 20px;
}

/* Шапка */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #256068;
	color: #fff;
	padding: 10px;
}

.header img.logo {
	width: 50px;
	height: auto;
}

/* Подвал */
footer {
	text-align: center;
	padding: 10px;
	background-color: #256068;
	color: #fff;
}

/* Заголовки */
h1,
h2,
h3 {
	color: #d7ebbe;
}

/* Карта парковки */
.map-area {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Парковочные места */
.parking-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	gap: 10px;
	max-width: 80%;
	margin: 0 auto;
}

.parking-space {
	width: 50px;
	height: 30px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.parking-space.occupied {
	background-color: #ff4c4c;
	color: #fff;
	cursor: not-allowed;
}

.parking-space.selected {
	background-color: #256068;
	color: #fff;
}

/* Кнопки */
.buttons {
	margin: 20px 0;
}

button {
	padding: 10px;
	margin: 5px;
	background-color: #256068;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #1d4b54;
}

/* Таблица бронирования */
.booking-table {
	margin-top: 20px;
}

.booking-table table {
	width: 100%;
	border-collapse: collapse;
}

.booking-table table,
.booking-table th,
.booking-table td {
	border: 1px solid #ccc;
}

.booking-table th,
.booking-table td {
	padding: 10px;
	text-align: center;
}
