/* Главная страница */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.map-info {
	display: flex;
	gap: 20px;
	justify-content: center;
	font-size: 16px;
	color: #333;
}

.map-area {
	border: 1px solid #ccc;
	width: 1500px; /* Размер пространства */
	height: 500px;
	background-color: #f8f8f8;
	position: relative;
}

.map-grid {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Выровнять по левому краю */
}

.map-row {
	display: flex;
	gap: 0px; /* Расстояние между ячейками - 0 */
}

.map-space {
	width: 100px; /* Пропорционально уменьшенные размеры */
	height: 50px; /* Пропорционально уменьшенные размеры */
	background-color: #d7ebbe; /* Цвет свободного места */
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	border: 1px solid #aaa;
}

.map-space.booked {
	background-color: #ff4d4d; /* Красный цвет для занятых */
	cursor: not-allowed;
}

.map-space.selected {
	background-color: #256068;
	color: #fff;
}

.map-space.available:hover {
	background-color: #b5d6a2; /* Цвет при наведении */
}

.buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	margin-top: 20px;
}

footer {
	margin-top: 40px;
	width: 100%;
	text-align: center;
	position: relative;
}
