/* src/components/Header/Header.css */

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.logo {
	width: 100px; /* Измените размер по необходимости */
	height: auto; /* Сохраняет пропорции изображения */
	margin-right: 15px; /* Отступ между логотипом и заголовком */
}
