.map-area {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	max-width: 1500px; /* Ширина пространства */
	height: 500px; /* Высота пространства */
	background-color: #f8f8f8;
	position: relative;
}

.map-info {
	margin-bottom: 10px;
	font-size: 16px;
	color: #333;
}

.map-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.map-row {
	display: flex;
	justify-content: center;
}

.map-row.double-row {
	gap: 50px; /* Пространство между сдвоенными рядами */
}

.map-space {
	width: 100px; /* Ширина ячейки */
	height: 50px; /* Высота ячейки */
	background-color: #d7ebbe; /* Цвет свободного места */
	margin: 2px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	border: 1px solid #aaa;
}

.map-space.booked {
	background-color: #ff4d4d; /* Красный цвет для занятых мест */
	cursor: not-allowed;
}

.map-space.selected {
	background-color: #256068;
	color: #fff;
}

.map-space.available:hover {
	background-color: #b5d6a2; /* Цвет при наведении */
}
